<form [formGroup]="studentForm">
    <div class="form-container">
        <h2>Student Registration</h2>
        <div class="form-group">
            <label>First Name:</label>
            <input formControlName="firstName" type="text" class="form-control">
        </div>
        <div class="form-group">
            <label>Last Name:</label>
            <input formControlName="lastName" type="text" class="form-control">
        </div>
        <div class="form-group">
            <label>Date of Birth:</label>
            <input formControlName="dateOfBirth" type="date" class="form-control">
        </div>
        <div class="form-group">
            <label>Email:</label>
            <input formControlName="email" type="email" class="form-control">
        </div>
        <div formGroupName="address" class="address-group">
            <h3>Address</h3>
            <div class="form-group">
                <label>Street:</label>
                <textarea formControlName="street" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <label>State:</label>
                <select formControlName="state" id="state" class="form-control">
                    <option value="kerala">Kerala</option>
                </select>
                <label>City:</label>
                <select formControlName="city" id="city" class="form-control">
                    <option value="kochi">Kochi</option>
                </select>
            </div>
            <div class="form-group">
                <label>Pincode:</label>
                <input formControlName="pincode" type="number" class="form-control">
            </div>
        </div>
        <div class="form-group" style="display: flex; align-items: center; justify-content: center;">
            <label>Subject:</label>
            <div class="radio-group" style="display: flex; align-items: center;">
                <label class="radio-label">
                    <input type="checkbox" formControlName="subject" value="math">
                    Math
                </label>
                <label class="radio-label">
                    <input type="checkbox" formControlName="subject" value="science">
                    Science
                </label>
                <label class="radio-label">
                    <input type="checkbox" formControlName="subject" value="science">
                    English
                </label>
            </div>
        </div>

        <div formArrayName="previousSchool">
            <div *ngFor="let previous of previousSchool.controls; let i = index" [formGroupName]="i">
                <h4>Schooling {{i+1}}</h4>
                <div>
                    <label for="schoolName">Previous School:</label>
                    <input type="text" id="schoolName" formControlName="schoolName" value="previousschool"/>
                </div>

                <div>
                    <label for="startYear">Year of Start:</label>
                    <input type="date" id="startYear" formControlName="startYear" placeholder="dd-mm-yyyy" value="startyear"/>
                </div>

                <div>
                    <label for="endYear">Year of End:</label>
                    <input type="date" id="endYear" formControlName="endYear" placeholder="dd-mm-yyyy" value="endyear"/>
                </div>
                <button type="button" (click)="removeSchool(i)">Remove</button>
            </div>
        </div>
        <div style="margin-left: 50px;">
            <button type="button" class="btn btn-info" (click)="addSchool()">Add Previous Schooling</button>
            <button type="button" class="btn btn-primary" (click)="onSubmit(studentForm.value)">Submit</button>
        </div>

    </div>
</form>