.form-container {
    max-width: 500px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

.form-control {
    width: 90%;
    height: 40px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

.address-group {
    margin-top: 20px;
    padding: 20px;
    background-color: #f9f9f9;
}

.address-group h3 {
    margin-top: 0;
}

.btn {
    width: 90%;
    height: 40px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #337ab7;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

.btn:hover {
    background-color: #23527c;
}