<div class="card mx-auto" *ngIf="student" style="max-width: 400px;">
    <h2 class="card-header">Student Details</h2>
    <div class="card-body">
        <div class="float-left">
            <p><strong>First Name: </strong>{{ student.first_name }}</p>
            <p><strong>Last Name: </strong>{{ student.last_name }}</p>
            <p><strong>Email: </strong>{{ student.email }}</p>
            <p><strong>Address:</strong></p>
            <p>{{ student.street }}</p>
            <p>{{ student.city }}, {{ student.state }}, {{ student.pincode }}</p>
        </div>
        <div class="float-right">
            <p><strong>Subjects:</strong></p>
            <ul>
                <li *ngFor="let subject of student.subjects">{{ subject }}</li>
            </ul>
        </div>
    </div>
    <div class="card-footer" *ngIf="student.previous_schooling && student.previous_schooling.length > 0">
        <h4>Previous School(s):</h4>
        <div *ngFor="let school of student.previous_schooling; let i = index">
            <h3><strong>School {{ i+1 }}:</strong></h3>
            <ul style="list-style: none;">
                <li><strong>School Name:</strong> {{ school.school_name }}</li>
                <li><strong>Start Year:</strong> {{ school.start_year }}</li>
                <li><strong>End Year:</strong> {{ school.end_year }}</li>
            </ul>
        </div>
    </div>
</div>

<div class="button-div text-center">
    <button class="btn btn-primary" (click)="goHome()">Go home</button>
</div>
