<div class="card" *ngIf="student">
    <h2>Student Details</h2>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <p><strong>First Name:{{student.firstName}}</strong></p>
          <p><strong>Last Name:{{student.lastName}}</strong> </p>
          <p><strong>Email:{{student.email}}</strong></p>
        </div>
        <div class="col-md-6">
          <p><strong>Address:{{student.street}}</strong><br></p>
          <p><strong>Subject:{{student.subject}}</strong></p>
          <p><strong>Previous Schooling:</strong></p>
        </div>
      </div>
    </div>
  </div>


  <div class="button-div">
    <button type="button" class="btn btn-primary btn-lg" (click)="goHome()">Go Home</button>
  </div>

  <router-outlet></router-outlet>