<div style="display: flex; justify-content: center; margin-top: 60px; margin-bottom: 50px;">
    <button class="add" routerLink="/register" routerLinkActive="Active"> Registration
    </button>
</div>

<div class="design-button">
    <input type="text" name="text" class="input" placeholder="Search student" [(ngModel)]="searchQuery" (input)="filterStudents()" />
</div>

<table>
    <thead>
        <tr>
            <th>Roll Number</th>
            <th>Student Name</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let student of filteredStudents; let i = index">
            <td>{{i+1}}</td>
            <td>{{student.firstName + ' ' + student.lastName}}</td>
            <td>{{student.email}}</td>
            <td>
                <button type="button" class="btn btn-success" (click)="onViewClick(student.id)"><i class="fa-regular fa-eye"></i></button>
                <button type="button" class="btn btn-info" style="margin-left: 5px;" (click)="onEditClicked(student.id)"><i class="fa-solid fa-pen"></i></button>
                <button type="button" class="btn btn-danger" style="margin-left: 5px;" (click)="onDeleteClicked(student.id)"><i class="fa-solid fa-trash"></i></button>
            </td>
        </tr>
    </tbody>
</table>

<router-outlet></router-outlet>
