<div class="button-out">
  <button type="button" class="btn btn-info btn-lg" (click)="goHome()">Go Home</button>
</div>



<form [formGroup]="studentForm">
  <div class="form-container">
    <h2>Edit Student Details</h2>
    <div class="form-group">
      <label>First Name:*</label>
      <input formControlName="firstName" type="text" class="form-control">
      <small *ngIf="studentForm.get('firstName')?.touched && studentForm.get('firstName')?.invalid">First Name is
        required.*</small>

    </div>
    <div class="form-group">
      <label>Last Name:*</label>
      <input formControlName="lastName" type="text" class="form-control">
      <small *ngIf="studentForm.get('lastName')?.touched && studentForm.get('lastName')?.invalid">Last Name is
        required.*</small>

    </div>
    <div class="form-group">
      <label>Date of Birth:*</label>
      <input formControlName="dateOfBirth" type="date" class="form-control">
      <small *ngIf="studentForm.get('dateOfBirth')?.touched && studentForm.get('dateOfBirth')?.invalid">Date Of birth is
        required.*</small>
      <small
        *ngIf="studentForm.get('dateOfBirth')?.touched && !isValidDateFormat(studentForm.get('dateOfBirth')?.value)">
        Invalid date format. Please use dd-mm-yyyy format.
      </small>


    </div>
    <div class="form-group">
      <label>Email:*</label>
      <input formControlName="email" type="email" class="form-control" (input)="resetEmailTaken()">
      <small *ngIf="studentForm.get('email')?.touched && studentForm.get('email')?.invalid">
        {{ studentForm.get('email')?.errors?.['required'] ? 'Email is required.' : 'Invalid email format.' }}
      </small>
      <small *ngIf="emailTaken">Email is taken</small>
    </div>
    <div formGroupName="address" class="address-group">
      <h3>Address*</h3>
      <div class="form-group">
        <label>Street:*</label>
        <textarea formControlName="street" class="form-control"></textarea>
        <small *ngIf="studentForm.get('address.street')?.touched && studentForm.get('address.street')?.invalid">Street
          is required.*</small>
      </div>
      <div class="form-group">
        <label>State:*</label>
        <select formControlName="state" id="state" class="form-control">
          <option value="kerala">Kerala</option>
          <option value="tamilnadu">Tamilnadu</option>
          <option value="karnataka">Karnataka</option>
          <option value="maharashtra">Maharashtra</option>
        </select>
        <small *ngIf="studentForm.get('address.state')?.touched && studentForm.get('address.state')?.invalid">State is
          required.*</small>
      </div>
      <div class="form-group">
        <label>City:*</label>
        <select formControlName="city" id="city" class="form-control">
          <option value="kochi">Kochi</option>
          <option value="kollam">Kollam</option>
          <option value="adoor">Adoor</option>
          <option value="tvm">TVM</option>
          <option value="thrissur">Thrissur</option>
          <option value="kunnamkulam">Kunnamkulam</option>
        </select>
        <small *ngIf="studentForm.get('address.city')?.touched && studentForm.get('address.city')?.invalid">City is
          required.*</small>
      </div>
      <div class="form-group">
        <label>Pincode:*</label>
        <input formControlName="pincode" type="number" class="form-control">
        <small
          *ngIf="studentForm.get('address.pincode')?.touched && studentForm.get('address.pincode')?.invalid">Pincode is
          required.*</small>
      </div>
    </div>

    <div class="checkbox" style="margin-top: 10px; margin-bottom: 10px;">
      <label style="margin-right: 10px;">Subject:*</label>
      <label class="radio-label">
        <input type="checkbox" (change)="onCheckboxChange($event, 'Math')" [checked]="isSubjectSelected('Math')">
        Math
      </label>
      <label class="radio-label">
        <input type="checkbox" (change)="onCheckboxChange($event, 'Science')" [checked]="isSubjectSelected('Science')">
        Science
      </label>
      <label class="radio-label">
        <input type="checkbox" (change)="onCheckboxChange($event, 'English')" [checked]="isSubjectSelected('English')">
        English
      </label>
    </div>
    <small *ngIf="studentForm.get('subjects')?.touched && studentForm.get('subjects')?.invalid">At least one subject is
      required.*</small>
    <div formArrayName="previousSchool" class="previous-school">
      <div *ngFor="let previous of previousSchoolControls.controls; let i = index" [formGroupName]="i">
        <strong>
          <p>School {{i+1}}</p>
        </strong>
        <div class="form-group">
          <label for="schoolName">Previous School:*</label>
          <input type="text" id="schoolName" formControlName="schoolName" class="form-control" />
          <small *ngIf="previous.get('schoolName')?.touched && previous.get('schoolName')?.invalid">School Name is
            required.*</small>
        </div>
        <div class="form-group">
          <label for="startYear">Year of Start:*</label>
          <input type="date" id="startYear" formControlName="startYear" placeholder="dd-mm-yyyy" class="form-control" />
          <small *ngIf="previous.get('startYear')?.touched && previous.get('startYear')?.invalid">Start Year is
            required.*</small>
        </div>
        <div class="form-group">
          <label for="endYear">Year of End:*</label>
          <input type="date" id="endYear" formControlName="endYear" placeholder="dd-mm-yyyy" class="form-control" />
          <small *ngIf="previous.get('endYear')?.touched && previous.get('endYear')?.invalid">End Year is
            required.*</small>
        </div>
        <button type="button" class="btn btn-success" (click)="removeSchool(i)">Remove</button>
      </div>
    </div>


    <div style="display: flex; justify-content: center;">
      <button type="button" class="btn btn-info" (click)="addSchool()">Add Previous School</button>
      <button type="button" class="btn btn-primary" (click)="onUpdateStudent()">Update</button>

    </div>
  </div>
</form>